.className {
    border-radius: 30px;
    background-color: coral;
}

#Card.Footer {
    background-color: black;
}

messageArea{
    color: beige
}

.textCenter {
    margin-left: (spacer-x * .25) !important;
  }


.mt-3 {
  margin-top: 0.25rem !important;
}